# Zig build artifacts
zig-cache/
.zig-cache/
zig-out/
zig-out/bin/programmer_man.pdb
zig-out/bin/programmer_man.exe
zig-out/bin/programmer_man.exe
zig-out/bin/programmer_man.exe
zig-out/bin/programmer_man.exe
zig-out/bin/programmer_man.pdb
